/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : achrafdahmani
*/


.mainview {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    margin: auto;
}

.sidebar {
    font-size: 14px; 
    line-height: 1.214;
    height: 100%;
    left: 0;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    position: fixed;
    top: 0;
    padding: 0;
    width: 150px;
    z-index: 10000;
    background-color: #f3f4f5;
}

.sidebar a {
    display: block;
    padding: 7px 20px;
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Ajouter une instance';
  display: inline-block;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #1abc9c;
  font-weight: 700;
  font-size: 10pt;
  border: 2px solid #1abc9c; 
  border-radius: 6px;
}

.custom-file-input{
    font-size: 10pt;
    margin-top: 10px;
    display:none;
}